@import "~normalize.css";
@import "./choices.min.css";

/* --select-- */

.choices {
  min-width: 123px;
  margin-right: -1px;
  margin-bottom: 0;
  box-sizing: border-box;
  background-color: #E7E5EB;
}

.choices__inner {
  padding: 6px 12px 10px 12px;
  min-height: 0;
  max-height: 37px;
  border: 1px solid var(--grey);
  font-size: 12px;
  line-height: 16px;
  background: url(../assets/img/arrow-down.png) transparent no-repeat right 15px center;
  transition: background-image .1s linear;
}

.choices__inner:hover {
  border: 1px solid var(--grey);
}

.is-open .choices__inner {
  min-height: auto;
  border: 1px solid var(--grey);
  background: url(../assets/img/arrow-up.png) no-repeat right 15px center;
}

.choices__list--dropdown {
  padding: 0;
  word-break: normal;
  background-color: #F4F3F6;
}

.is-open .choices__list--dropdown {
  border: 1px solid var(--grey);
}


.choices__list--dropdown .choices__item {
  padding-top: 5px !important;
  padding-bottom: 7px !important;
  padding-left: 15px;
  transition: background-color .2s linear;
}

.choices__list--dropdown .choices__item--selectable {
  padding-right: 10px;
}

.choices__list--dropdown .choices__item--selectable:after {
  content: '';
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: var(--grey-hover);
}

.choices__list--dropdown .choices__item {
  padding-top: 20px;
  padding-bottom: 0;
  font-size: 12px;
  line-height: 16px;
}

.choices[data-type*=select-one]:after {
  display: none;
}


.is-selected {
  display: none;
}
