.main {
  &__container {
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 1186px;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
  }

  &__title {
    margin-bottom: 26px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: var(--fw-bold);
    font-size: 24px;
    line-height: 33px;
  }

  &__table {
    border-collapse: collapse;
    margin-bottom: 40px;
  }

  &__btn {
    align-self: center;
    padding: 14px 26px;
    background-color: var(--white);
    font-weight: 600;
    @include main-text;
    color: var(--violet);
    border: 1px solid var(--violet);
    transition: background-color .3s linear, color .3s linear;


    // ---------------hovers&actives--------------------

    &:hover {
      background-color: var(--bg-btn-hover);
      color: var(--white);
    }

    &:active {
      background: var(--bg-btn-active);
      color: var(--white);
    }

    &:hover &-svg,
    &:active &-svg {
      fill: var(--white);
    }

    // -------------------------------------------------------------
  }

  &__btn-svg {
    fill: var(--violet);
    width: 22px;
    height: 16px;
    margin-right: 10px;
    transition: fill .3s linear;
  }


}


.table {

  min-width: 1145px;

  &__row {
    background-color: var(--white);
  }

  &__title {
    text-align: left;
    padding: 10px 20px 10px 20px;
    font-weight: var(--fw-normal);
    font-size: 12px;
    line-height: 16px;
  }

  &__title-text {
    display: flex;
    align-items: center;
  }

  &__text {
    display: inline-block;
    color: var(--grey);
    transition: color .3s linear;

    &--active {
      color: var(--violet);
    }
  }

  &__title-date {
    align-items: flex-end;
  }

  &__arrow {
    width: 12px;
    height: 12px;
  }

  &__arrow-rotate {
    transform: rotate(180deg);
  }

  &__arrow-text {
    display: inline-block;
    color: var(--violet);
    font-family: inherit;
    font-style: normal;
    font-weight: var(--fw-normal);
    font-size: 10px;
    line-height: 12px;
  }

  &__row-item {
    padding: 20px;
    width: max-content;
    text-align: left;
    border-bottom: 1px solid #C8C5D1;
    @include main-text;
    font-weight: var(--fw-normal);
  }

  &__id {
    font-size: 12px;
    line-height: 16px;
    color: var(--grey);
  }

  &__full-name {
    width: 240px;
  }

  &__full-name,
  &__date &__change,
  &__remove {
    color: var(--black);
  }

  &__change,
  &__remove {
    display: flex;
  }

  &__date {
    display: inline-block;
    margin-right: 10px;
  }

  &__time {
    color: var(--grey);
  }

  &__change-svg,
  &__remove-svg {
    display: inline-block;
    align-self: flex-start;
    width: 18px;
    height: 18px;
  }

  &__remove-svg {
    fill: var(--red);
  }

  &__change-text,
  &__remove-text {
    display: inline-block;
    cursor: pointer;
    transition: color .3s linear;
  }

  &__contact {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 115px;
  }

  &__btns {
    display: flex;
    align-items: center;
    @include tablet {
      display: block;
    }
  }

  &__change {
    margin-right: 30px;
    @include tablet {
      margin-right: 0;
      margin-bottom: 5px;
    }
  }

  &__btn-sort:hover &__text {
    color: var(--black);
  }

  // ---------------hovers&actives--------------------

  &__change-text:hover,
  &__change-text:active {
    color: var(--violet);
  }

  &__remove-text:hover,
  &__remove-text:active {
    color: var(--red);
  }

  // ----------------------tooltip---------------------
  &__tooltip-icon {
    width: 16px;
    height: 16px;
    fill: var(--violet);
    opacity: 0.7;
    transition: opacity .3s linear;
  }

  &__marker {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }

  &__marker-empty {
    padding: 1px;
    padding-top: 2px;
    width: 16px;
    height: 16px;
    font-weight: 600;
    font-size: 8px;
    line-height: 11px;
    color: var(--black);
    border-radius: 50%;
    border: 1px solid var(--violet);
    cursor: pointer;
    transition: background-color .3s linear, color .3s linear, border .3s linear;

    &:hover,
    &:active {
      background-color: var(--violet);
      color: var(--white);
      border: 1px solid var(--white);
    }


  }

  &__tooltip {
    display: inline-block;
    position: relative;
    margin-right: 7px;
    margin-bottom: 7px;
  }

  &__tooltip-link {
    font-weight: 700;
    color: #B89EFF;
    border-bottom: 1px solid #B89EFF;
  }

  &__popup {
    opacity: 0;
    width: max-content;
    position: absolute;
    bottom: 24px;
    left: 50%;
    padding: 7px 17px 14px 17px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    background-color: var(--black);
    transition: opacity .3s linear;
    box-sizing: border-box;
    transform: translateX(-50%);
    pointer-events: none;
  }

  &__marker:hover+&__popup,
  &__marker:focus+&__popup {
    opacity: 1;
    pointer-events: auto;
  }

  &__marker:hover &__tooltip-icon,
  &__marker:focus &__tooltip-icon {
    opacity: 1;
  }

  &__popup::before {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    border-style: solid;
    border-width: 15px 7.5px 0 7.5px;
    border-color: var(--black) transparent transparent transparent;
    transform: translateX(-50%);
  }
}

