.form-add {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 10%;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.5);
  z-index: 2;

  &__container {
    margin: 0 auto;
    padding-bottom: 25px;
    max-width: 450px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
  }

  &__container-up {
    display: flex;
    flex-direction: column;
    padding: 15px 15px 0 30px;
    margin-bottom: 26px;
  }

  &__up {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    @include title-second;
    margin-bottom: 15px;
    font-weight: 700;
  }

  &__cross {
    width: 20px;
    height: 20px;
    fill: var(--grey);
    transition: fill .3s linear;

    &:hover {
      fill: var(--black);
    }
  }

  &__item {
    position: relative;
    height: 41px;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__input-label {
    position: absolute;
    top: 0;
    left: 0;
    @include main-text;
    color: var(--grey);
    pointer-events: none;
    transition: all .3s linear;
  }

  &__input-required {
    color: var(--violet);
    font-size: 16px;
    transition: all .3s linear;
  }


  &__contacts {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    background-color: rgba($color: #C8C5D1, $alpha: 0.3);
  }

  &__add-contact {
    padding-left: 20px;
    align-self: center;
    font-weight: var(--fw-demibold);
    background: url("../img/add-contact.svg") no-repeat left center;
    transition: color .2s linear, background-image .3s linear;

    &:hover,
    &:active {
      color: var(--violet);
      background: url("../img/add-contact-hover.svg") no-repeat left center;
    }
  }

  &__save {
    padding: 12px 35px;
    margin-bottom: 5px;
    align-self: center;
    color: var(--white);
    background-color: var(--violet);
    transition: background-color .3s linear;

    &:hover {
      background-color: var(--bg-btn-hover);
    }

    &:active {
      background-color: var(--bg-btn-active);
    }
  }

  &__cansel {
    align-self: center;
    border-bottom: 1px solid var(--black);
    font-size: 12px;
    line-height: 16px;
    transition: color .3s linear, border-bottom .3s linear;

    &:hover {
      color: var(--violet);
      border-bottom: 1px solid var(--violet);
    }
  }
}

.form__input {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--border-b-form);

  &:focus+label {
    top: -10px;
    font-size: 10px;
  }

  &:focus+label>span {
    top: -10px;
    font-size: 10px;
  }
}
