:root {
  --white: #fff;
  --grey: #B0B0B0;
  --violet: #9873FF;
  --black: #333;
  --border-b-form: #C8C5D1;

  --bg-btn-hover: #b196fa;
  --bg-btn-active: #7B61FF;



  // шрифт
  --fw-normal: 400;
  --fw-demibold: 600;
  --fw-bold: 700;
}
