<div class="form-add">
  <form class="form-add__container">
    <div class="form-add__container-up">
      <div class="form-add__up">
        <h2 class="form-add__title title-reset">Новый клиент</h2>
        <button class="form-add__btn btn-reset">
          <svg class="form-add__cross">
            <use xlink:href="img/sprite.svg#cross"></use>
          </svg>
        </button>
      </div>
      <div class="form-add__item">
        <input id="input-1" class="form-add__surname form__input" type="text" required>
        <label for="input-1" class="form-add__input-label form__label">Фамилия<span
            class="form-add__input-required">*</span></label>
      </div>
      <div class="form-add__item">
        <input id="input-2" class="form-add__name form__input" type="text" required>
        <label for="input-2" class="form-add__input-label form__label">Имя<span
          class="form-add__input-required">*</span></label>
      </div>
      <div class="form-add__item">
        <input id="input-3" class="form-add__lastname form__input" type="text">
        <label for="input-3" class="form-add__input-label form__label">Отчество</label>
      </div>
    </div>
    <div class="form-add__contacts">
      <button class="form-add__add-contact btn-reset">Добавить контакт</button>
    </div>
    <button class="form-add__save btn-reset">Сохранить</button>
    <button class="form-add__cansel btn-reset">Отмена</button>

  </form>
</div>
